@media (max-width: 1024px) {
  .banner__title {
    font-size: 50px;
  }
  .banner__img {
    width: 350px;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail__container {
    gap: 30px;
  }
  .product__title {
    font-size: 1.8rem;
  }
  .contact__title {
    font-size: 3.5rem;
  }

  .contact__card {
    max-width: 90%;
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
  }
  .header__logo-container {
    padding-left: 0;
  }
  .header__nav {
    justify-content: space-between;
    padding: 10px 20px;
  }
  .menu-toggle {
    display: flex;
    order: 1;
  }
  .header__logo-container {
    order: 0;
  }
  .header__nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    padding: 20px 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 100;
  }
  .header__nav-list.is-active {
    display: flex;
  }
  .nav__item a {
    margin-right: 0;
    font-size: 1.2rem;
  }
  .header__logo-container {
    padding-left: 0;
  }
  .hero__container {
    flex-direction: column;
    gap: 40px;
  }
  .card__hero {
    margin-left: 0;
  }
  .categories__grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  .banner__container {
    flex-direction: column;
    text-align: center;
    padding: 60px;
  }
  h2.banner__title {
    font-size: 70px;
  }
  .banner__img {
    display: none;
  }
  .banner__button,
  .card__button,
  .contact__button {
    width: 50%;
  }
  /* --PÁGINA CATÁLOGO  */
  .catalog__container {
    flex-direction: column;
    gap: 20px;
  }

  .catalog__sidebar {
    width: 100%;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  /* --PÁGINA DETALLE */
  .detail__container {
    flex-direction: column;
  }

  .detail__img-container {
    width: 80%;
  }
  .product__details {
    width: 100%;
    text-align: center;
  }
  .action__row {
    justify-content: center;
  }
  /* --PÁGINA CONTACTO */
  .contact__title {
    font-size: 2.8rem;
    text-align: center;
  }
  .contact__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .contact__info {
    width: 100%;
    text-align: left;
  }
  .contact__map-container {
    width: 100%;
    height: 200px;
  }
  .contact__button {
    width: 100%;
    padding: 15px 30px;
  }
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 24px;
  }
  .banner__title {
    font-size: 35px;
  }
  section.hero {
    padding: 40px 20px;
  }
  .product-grid {
    grid-template-columns: 1fr;
  }
  .catalog {
    padding: 20px 10px;
  }
  .detail__img-container {
    width: 100%;
  }
  .action__row {
    flex-direction: column;
    width: 100%;
  }
  .quantity__selector {
    width: 100%;
    justify-content: space-between;
  }
  .shop__button {
    width: 100%;
  }
  .product__price {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .contact__title {
    font-size: 2.2rem;
    margin-bottom: 25px;
  }
  .contact__card {
    padding: 25px 20px;
    border-radius: 20px;
  }
  .contact__subtitle {
    font-size: 0.8rem;
  }
  .contact__link,
  .contact__address {
    font-size: 0.95rem;
  }
  .contact__icon {
    width: 35px;
    height: 35px;
  }
  .footer-text {
    font-size: 0.8rem;
  }
}
