.header {
  width: 100%;
  top: 0;
  left: 0;
}
.header__nav {
  background-color: var(--color-white);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}
.header__logo-container {
    padding-left: 40px;
}
.header__logo-img {
  height: 40px;
  width: auto;
  display: block;
}

.nav__item a {
  color: var(--color-black);
  text-decoration: none;
  margin-right: 30px;
  
}
.nav__item a:hover {
  color: var(--color-primary);
}
.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: var(--color-primary);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    min-width: 18px;
    height: 18px;
    display: none;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}