.header {
  width: 100%;
  top: 0;
  left: 0;
}
.header__nav {
  background-color: var(--color-white);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}
.header__logo-container {
  padding-left: 40px;
}
.header__logo-img {
  height: 40px;
  width: auto;
  display: block;
}
/* .header__nav-list {
  display: flex;
  color: var(--color-black);
  font-family: var(--font-main);
  text-decoration: none;
  margin-right: 30px;
  list-style-type: none;
  gap: 30px;
} */
.nav__item a {
  color: var(--color-black);
  text-decoration: none;
  margin-right: 30px;
}
.nav__item a:hover {
  color: var(--color-primary);
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
}

/* Estilos del carrito */
.header__cart {
  order: 2;
  margin-left: auto;
  margin-right: 15px;
}

.cart-button {
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
}
.cart-icon-img {
  width: 30px;
  height: auto;
  display: block;
}
